<div class="row-list" *ngIf="showFeed">
  <div style="flex-basis: 80%;" (click)="goToLink()">
    <span class="title-time">{{ feed.title || feed.story_title }}</span>
    <span class="author"> -{{ feed.author }}-</span>
  </div>
  <div style="flex-basis: 15%;" class="title-time" (click)="goToLink()">
    {{ feed.created_at | customTime }}
  </div>
  <div style="flex-basis: 5%;" class="icon-remove" (click)="removeFeed()">
    <img src="assets/icons/trash.png" style="width: 13pt;" />
  </div>
</div>
