.row-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 13pt;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 95%;
  margin: auto;
  padding: 1rem;
  cursor: pointer;
}
.title-time {
  color: #333;
}
.author {
  color: #999;
}
.icon-remove img {
  visibility: hidden;
}

.row-list:hover img {
  visibility: visible;
}
